<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


{{range .}}
  <h2>{{.AcaYear}}</h2>
  <h3>{{.Fall.Term}}</h3>
  {{range .Fall.Courses}}
    <li>{{.Number}}-{{.Name}}-{{.Units}}</li>
  {{end}}
  <h3>{{.Spring.Term}}</h3>
  {{range .Spring.Courses}}
    <li>{{.Number}}-{{.Name}}-{{.Units}}</li>
  {{end}}
{{end}}

</body>
</html>